body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    color: black;
    line-height: 1.5;
    margin-left: 10px;
  }

  h1, h2, h3 {
    margin-top: 20px; 
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  .container {
    padding: 20px;
  }

  .navigation {
    margin: 20px 0;
  }

  .navigation a {
    margin-right: 10px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(51, 101, 240);
  }

  .navigation a:hover {
    background-color: rgb(9, 67, 228);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }

  th, td {
    border: 1px solid gray;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: whitesmoke;
  }